.hero {
  position: relative;
  width: 100%;
  /* height: 210vh; */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.backgroundImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.backgroundPicture {
  display: block;
  width: 100%;
  height: 100%;
}

.logoContainer {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 20;
  padding: 0 20px;
}

.logo {
  height: 50px;
  width: auto;
}

.comingSoonContainer {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 20;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.comingSoon {
  max-width: 100%;
  height: auto;
}

.waitlistWrapper {
  position: absolute;

  bottom: 0;
  left: 0;
  width: 100%;
  height: 27%;
  z-index: 30;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* padding-bottom: 8%; */
}



@media (max-width: 1200px) {
  .hero {
  height: 210vh;
}
}
/* Tablet */
@media (max-width: 1024px) {
  .hero {
    height: 180vh;
  }

  .logo {
    height: 45px;
  }

  .comingSoonContainer {
    top: 45%;
    /* Pushed down significantly */
    width: 85%;
  }

  .waitlistWrapper {
    height: 27%;
    /* padding-bottom: 15%; */
  }
}

/* Mobile */
@media (max-width: 768px) {
  .hero {
    height: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .backgroundPicture {
    height: 100vh;
    flex-shrink: 0;
  }

  .logoContainer {
    top: 40px;
  }

  .logo {
    height: 35px;
  }

  .comingSoonContainer {
    top: 42%;
    width: 90%;
  }

  .waitlistWrapper {
    position: relative;
    height: auto;
    bottom: auto;
    left: auto;
    padding: 40px 0;
    background: #e0e0e0;
  }
}

@media (max-width: 640px) {
  .comingSoonContainer {
    top: 40%;
    /* Pushed down significantly */
    width: 85%;
  }

}

@media (max-width: 480px) {
  .hero {
    height: auto;
  }

  .backgroundImage {
    height: 50vh;
  }

  .backgroundPicture {
    height: 50vh;
  }

  .logoContainer {
    top: 30px;
  }

  .logo {
    height: 28px;
  }

  .comingSoonContainer {
    top: 35%;
    /* Pushed down significantly */
    width: 80%;
  }

}

@media (min-width: 375px) and (max-width: 430px) {
  .comingSoonContainer {
    top: 38%;
    /* Pushed down significantly */
    width: 82%;
  }

}